h2 {
    color:white;
    /* margin-left: 3px;
    margin-right: 3px; */
    font-family: comic sans-serif;
    padding: 0px;
    margin-top: 10px;
  
}
.bg {
    background-image: url("http://getwallpapers.com/wallpaper/full/2/4/3/542752.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    /* height: 500px; You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  p1 {
      color: white;
      font-size: large;
      margin-bottom: 20px;
  }
  h3 {
    color:white;
    margin-left: 3px;
    margin-right: 3px;
    font-family: comic sans-serif;
    text-align: center;
    padding-bottom: 15px;
  }

  /* .active {
	
	
    background-color: beige;
  }
   */
  .navbar {
    margin-top: 0px !important;
    padding: 0px !important;
    border-right-color: white;
  }
  

  @media (max-width: 768px) {
    .navbar-nav {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
      text-align: center;
    }
  }
  /* .navbar-padding {
    padding: 10px 15px 10px 15px;
  } */ 
.align-list {
 
}